<form method="get" class="row g-2 mb-4 justify-content-center">

    <!-- Búsqueda -->
    <div class="col-md-3">
        <input type="text" name="q" class="form-control" placeholder="Buscar..."
               value="{{ request.GET.q }}">
    </div>

    <!-- Categoría -->
    <div class="col-md-2">
        <select name="categoria" class="form-select">
            <option value="todas">Todas las categorías</option>
            {% for cat in categorias %}
                <option value="{{ cat }}" {% if request.GET.categoria == cat %}selected{% endif %}>{{ cat }}</option>
            {% endfor %}
        </select>
    </div>

    <!-- Autor -->
    <div class="col-md-2">
        <select name="autor" class="form-select">
            <option value="todos">Todos los usuarios</option>
            {% for user in autores %}
                <option value="{{ user.id }}" {% if request.GET.autor == user.id|stringformat:"s" %}selected{% endif %}>
                    {{ user.username }}
                </option>
            {% endfor %}
        </select>
    </div>

    <!-- Fecha inicio -->
    <div class="col-md-2">
        <input type="date" name="fecha_inicio" class="form-control"
               value="{{ request.GET.fecha_inicio }}">
    </div>

    <!-- Fecha fin -->
    <div class="col-md-2">
        <input type="date" name="fecha_fin" class="form-control"
               value="{{ request.GET.fecha_fin }}">
    </div>

    <!-- Botón -->
    <div class="col-md-1">
        <button type="submit" class="btn btn-primary w-100">Filtrar</button>
    </div>

</form>
