{% extends 'base.html'%}

{% load static %}

    
{% block content%}

    <h1>Noticias</h1>

    {% for post in posts %}
        <div class="card text-center">
            <div class="card-header">
                {% if post.categoria %}
                    <p>Categoria: {{ post.categoria }}</p>
                {% endif %}
            </div>
            <div class="card-body">
                    {% if post.imagen %}
                        <img src="{{ post.imagen.url }}" alt="" width="100px" height="100px">
                    {% endif %}
                <h5 class="card-title"><a href="{% url 'post-detail' post.id %}">{{ post.titulo }}</a></h5>

                <p class="card-text">{{ post.contenido }}</p>
                <a href="{% url 'post-detail' post.id %}" class="btn btn-primary">Ver mas</a>
            </div>
            <div class="card-footer text-body-secondary">
                {{ post.autor }} : {{ post.fecha_creacion }} 
            </div>
        </div>
        
    {% endfor %}
    
{% endblock %}