# --- Python / Django ---
__pycache__/
*.py[cod]
*.sqlite3
*.log
.env

# --- Virtualenv ---
venv/
.env/
*.env

# --- Django media & static (generados) ---
/media/
/staticfiles/

# --- Docker ---
docker-compose.override.yml
Dockerfile
*.pid
# Volúmenes locales
mysql_data/
postgres_data/

# --- IDE / Editor ---
.vscode/
.idea/
*.swp
*~
# Ignorar configuración local de Django
django_project/config/settings/local.py
django_project/config/settings/production.py
