{% extends "admin/base.html" %}
{% load static %}

{% block title %}Esencial TIC Admin{% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" href="{% static 'css/admin-custom.css' %}">
    <!-- Bootswatch Lux CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/lux/bootstrap.min.css">
    <!-- css personalizado -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
{% endblock %}

{% block branding %}
<h1 id="site-name">
  <img src="{% static 'img/logo.svg' %}" alt="" style="height:28px;vertical-align:middle;margin-right:8px;">
  Esencial TIC · Admin
</h1>
{% endblock %}
